@model AssetMonitorDataAccess.Models.AlarmTagConfig

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AlarmTagConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag.Tagname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlarmType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlarmType.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
