@model IEnumerable<AssetMonitorDataAccess.Models.Tag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tagname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScaleFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScaleOffset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueDataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagCommunicationRel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tagname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScaleFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScaleOffset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueDataType.DataType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagSet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagCommunicationRel.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
