@model AssetMonitorDataAccess.Models.Asset

@{
    ViewData["Title"] = "Asset Details";
}

<div class="top-content">
    <div class="top-content-relative">
        <div class="top-content-foreground">
            <h4>@ViewData["Title"]</h4>
            <br />
            <br />
        </div>
        <div class="top-content-background">
            <i class="fas fa-cog"></i>
        </div>
    </div>
</div>
<div class="main-content bg-site-dark rounded">
    <div>
        <h4>Asset</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IpAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IpAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssetType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssetType.Type)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
