@model IEnumerable<AspMVC_Monitor.Models.Asset>
@{
    ViewData["Title"] = "Monitor";
}

<div class="content-overlay">
    <div class="top-content">
        <div class="top-content-relative">
            <div class="top-content-foreground">
                <h4>@ViewData["Title"]</h4>
                <br />
                <br />
            </div>
            <div class="top-content-background">
                <i class="fas fa-network-wired"></i>
            </div>
        </div>
    </div>
    <div class="main-content bg-site-dark rounded">
        <label>Server time now: </label>
        <span id="sessionValue" class="font-italic"></span>

        <p>Let's monitor some assets!</p>
        <br />
        <form asp-controller="HomeController" method="post">
            Enter name : <input name="NameText" type="text" />
            Enter IP address : <input name="IpAddressText" type="text" />
            <input type="submit" value="Add" formaction="AddElement" /> &nbsp;&nbsp;&nbsp;
        </form>
        <br />
        <h4>Assets:</h4>
        <br />
        <table id="tableAssets" class="table bg-site-dark table-dark table-bordered table-responsive table-hover">
            <tr class="bg-nav-dark">
                <th>Name </th>
                <th>IP Address </th>
                <th>Ping </th>
                <th>Time </th>
                <th>CPU Usage </th>
                <th>Avalible Memory[MB] </th>
            </tr>
            @foreach (var a in Model)
            {
        <tr>
            <td class="align-middle">@a.NameUI</td>
            <td class="align-middle">@a.IpAddressUI</td>
            <td class="align-middle">
                <div id="@(a.NameUI)_PingState" class="d-flex justify-content-center align-items-center">
                    @if (a.PingState)
                    {
                        <span class="dot dotBackgroundGreen"></span>
                    }
                    else
                    {
                        <span class="dot dotBackgroundRed"></span>
                    }
                </div>
            </td>
            <td id="@(a.NameUI)_PingResponseTime" class="align-middle">@(a.PingResponseTimeUI)ms</td>
            <td id="@(a.NameUI)_CpuUsage" class="align-middle">@(a.CpuUsageUI)%</td>
            <td id="@(a.NameUI)_MemoryAvailable" class="align-middle">@a.MemoryAvailableUI</td>
        </tr>
            }
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/monitor.js"></script>
}
