@model AspMVC_Monitor.Models.DetailsViewModel
@{
    ViewData["Title"] = "Asset details";
}
<div class="content-overlay">
    <div class="top-content">
        <div class="top-content-relative">
            <div class="top-content-foreground">
                <h4>@ViewData["Title"]</h4>
                <br />
                <br />
            </div>
            <div class="top-content-background">
                <i class="fas fa-desktop"></i>
            </div>
        </div>
    </div>

    <div class="main-content bg-site-dark rounded">
        <div style="margin: 1rem 0 1rem 0;">
            <select id="selectAsset" class="form-select">
                @foreach (var asset in Model.Assets)
                {
                    @if (Model.AssetId == asset.Id)
                    {
                        <option value="@asset.Id" selected>@asset.Name</option>
                    }
                    else
                    {
                        <option value="@asset.Id">@asset.Name</option>
                    }
                }
            </select>
            <input id="submitSelectAsset" type="submit" class="btn btn-info" value="Select"
                   style="margin-left: 1rem;" />
            <button id="buttonGetSnmpData" type="button" class="btn btn-secondary"
                    style="margin-left: 1rem;">
                Get SNMP
            </button>
        </div>

        <div>
            <table id="tableAssetInfo" class="asset-table table bg-site-dark table-dark table-bordered table-responsive table-hover">
                <thead>
                    <tr class="bg-nav-dark no-hover">
                        <th>Name</th>
                        <th>IP Address</th>
                        <th>Alarm</th>
                    </tr>
                </thead>
                <tbody>
                    @* Javascript generated *@
                </tbody>
            </table>
        </div>

        <table id="tableAsset" class="asset-table table bg-site-dark table-dark table-bordered table-responsive table-hover">
            <thead>
                <tr class="bg-nav-dark no-hover">
                    <th>Tagname</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @* Javascript generated *@
            </tbody>
        </table>
    </div>

</div>

@section scripts{
    <script type="module" src="~/js/details.js"></script>
}
